:root {
  --text-color: #888;
  --light-color: #eee;
  --dark-color: #111;
  --middle-color: #222;
  --border-color: #444;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

[id] {
  scroll-margin-top: 10rem;
}

body {
  background: var(--dark-color);
  color: var(--text-color);
  font: 1rem / 1.5 monospace;
  padding: 2em;
}

h1,
h2,
h3,
h4 {
  margin-block: 0.5rem;
  color: var(--light-color);
}

code,
kbd,
samp {
  background-color: var(--middle-color);
  padding: 0.2em;
  white-space: nowrap;
}

p {
  width: min(50ch, 100%);
  margin-block: 0.5rem;
}

a {
  color: var(--light-color);
  text-decoration: none;
}

ul > li {
  list-style: none;
}

.note {
  padding-left: 1rem;
  border-left: 1px solid var(--border-color);
  margin-block: 1rem;
}

ol {
  padding-left: 2rem;
}

.mark {
  font-weight: 900;
}

.shrink {
  width: 1%;
}

a:hover,
a:focus,
.selected {
  background: var(--light-color);
  color: var(--dark-color);
  outline: none;
}

::selection {
  background: var(--light-color);
  color: var(--dark-color);
}

.overflow-wrapper {
  overflow-x: auto;
}

table {
  width: max-content;
  min-width: 100%;
  border-collapse: collapse;
}

pre {
  background-color: var(--middle-color);
  width: max-content;
  min-width: 50%;
  padding: 1rem;
}

th,
td {
  padding: 0.15em 1.5em 0.15em 0.3em;
  text-align: left;
  vertical-align: top;
  white-space: nowrap;
}

th {
  color: var(--light-color);
  border-bottom: 1px solid var(--border-color);
}

tbody tr:hover {
  background: var(--middle-color);
}
