@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #888;
    --light-color: #eee;
    --bg-color: #111;
    --middle-color: #222;
    --border-color: #444;
    --overflow-select-color: #223249;
    --select-color: #a7a7a7;

    --code-bg-color: #181616;
    --code-text-color: #c5c9c5;
    --variable-color: #c5c9c5;
    --operator-color: #c4746e;
    --string-regexp-color: #c4746e;
    --number-color: #a292a3;
    --keyword-return-color: #c4746e;
    --keyword-color: #8992a7;
    --constructor-lua-color: #8992a7;
    --constant-color: #b6927b;
    --punctuation-delimiter-color: #9e9b93;
    --function-color: #8ba4b0;
    --boolean-color: #b6927b;
    --identifier-color: #c4b28a;
    --string-color: #8a9a7b;
    --punctuation-bracket-color: #9e9b93;
    --special-color: #949fb5;
    --keyword-operator-color: #c4746e;
    --variable-member-color: #c4b28a;
    --variable-parameter-color: #a6a69c;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --text-color: #545464;
    --light-color: #111;
    --bg-color: #f2ecbc;
    --middle-color: #e6dfb8;
    --border-color: #b8b08a;
    --overflow-select-color: #d7dbe5;
    --select-color: #a7a7a7;

    --code-bg-color: #fff9dd;
    --code-text-color: #545464;
    --variable-color: #545464;
    --operator-color: #836f4a;
    --string-regexp-color: #b35b79;
    --number-color: #b35b79;
    --keyword-return-color: #c84053;
    --keyword-color: #624c83;
    --constructor-lua-color: #624c83;
    --constant-color: #cc6d00;
    --punctuation-delimiter-color: #4e8ca2;
    --function-color: #4d699b;
    --boolean-color: #cc6d00;
    --identifier-color: #77713f;
    --string-color: #6f894e;
    --punctuation-bracket-color: #4e8ca2;
    --special-color: #6693bf;
    --keyword-operator-color: #836f4a;
    --variable-member-color: #77713f;
    --variable-parameter-color: #5d57a3;
  }
}

p a {
  text-decoration: underline;
  text-decoration-style: wavy;
}

.-variable {
  color: var(--variable-color);
}

.Operator {
  color: var(--operator-color);
}

.-string-regexp {
  color: var(--string-regexp-color);
}

.Number {
  color: var(--number-color);
}

.-keyword-return {
  color: var(--keyword-return-color);
  font-style: italic;
}

.Keyword {
  color: var(--keyword-color);
  font-style: italic;
}

.-constructor-lua {
  color: var(--constructor-lua-color);
}

.Constant {
  color: var(--constant-color);
}

.-punctuation-delimiter {
  color: var(--punctuation-delimiter-color);
}

.Function {
  color: var(--function-color);
  font-style: italic;
}

.Boolean {
  color: var(--boolean-color);
  font-weight: bold;
}

.Identifier {
  color: var(--identifier-color);
}

.String {
  color: var(--string-color);
}

.-punctuation-bracket {
  color: var(--punctuation-bracket-color);
}

.Special {
  color: var(--special-color);
}

.-keyword-operator {
  color: var(--keyword-operator-color);
  font-weight: bold;
}

.-variable-member {
  color: var(--variable-member-color);
}

.-variable-parameter {
  color: var(--variable-parameter-color);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

[id] {
  scroll-margin-top: 10rem;
}

h1,
h2,
h3,
h4,
p,
table,
.note,
.overflow-wrapper,
.footnotes {
  margin-top: 0.5rem;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  font: 1rem / 1.5 monospace;
  padding: 2em;
}

h1,
h2,
h3,
h4 {
  color: var(--light-color);
}

.not-started::after {
  content: "[NOT STARTED]";
  font: 1rem / 1.5 monospace;
  color: var(--text-color);
  margin-left: 0.5em;
  white-space: nowrap;
}

code,
kbd,
samp {
  background-color: var(--middle-color);
  padding: 0.2em;
  white-space: nowrap;
  color: var(--string-color);
}

p {
  line-height: 1.1lh;
  width: min(50ch, 100%);
}

a {
  color: var(--light-color);
  text-decoration: none;
}

ul > li {
  list-style: none;
}

nav a {
  display: block;
  width: 100%;
}

.note {
  padding-left: 1rem;
  border-left: 1px solid var(--border-color);
}

ol {
  padding-left: 2rem;
}

mark {
  font-weight: 900;
  background-color: inherit;
  color: inherit;
}

.shrink {
  width: 1%;
}

li:hover a span,
li:focus a span,
.selected span {
  background: var(--light-color);
  color: var(--bg-color);
  outline: none;
  text-decoration: none;

  &::after {
    color: var(--border-color);
  }
}

::selection {
  background: var(--select-color);
  color: var(--bg-color);
}

.overflow-wrapper:has(pre) *::selection,
code::selection {
  background-color: var(--overflow-select-color) !important;
  color: inherit !important;
}

.overflow-wrapper {
  overflow-x: auto;
}

table {
  width: max-content;
  min-width: 100%;
  border-collapse: collapse;
}

pre {
  background-color: var(--code-bg-color);
  color: var(--code-text-color);
  width: max-content;
  min-width: 50%;
  padding: 1rem;
}

th,
td {
  padding: 0.15em 1.5em 0.15em 0.3em;
  text-align: left;
  vertical-align: top;
  white-space: nowrap;
}

th {
  color: var(--light-color);
  border-bottom: 1px solid var(--border-color);
}

tbody tr:hover {
  background: var(--middle-color);
}

ul:hover a.selected span {
  background: transparent;
  color: var(--light-color);
}

li:hover a.selected span {
  background: var(--light-color);
  color: var(--bg-color);
}
